/*** STYLE ***/

page-home {

}

.contentHomeTop{
  background: transparent;
  width: 100%;
  height: 40%;
}

.contentHomeBottom{
  background: transparent;
  width: 100%;
  height: 60%;

  .contentHomeBottom-nav{
    background: rgba(34, 33, 49, 0.6);
    width: 100%;
    height: 12%;
  }

  .contentHomeBottom-info{
    background: rgba(34, 33, 49, 1);
    width: 100%;
    height: 88%;

    .round{
      background: #FFFFFF;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      left: 26%;
      top: 57%;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background: rgba(255, 255, 255, .3);
        width: 40px;
        height: 40px;
      }

      &.round--2{
        top: 72%;
      }

      &.round--3{
        top: 87%;
      }
    }

    .contentHome-info_left{
      background: transparent;
      border-right: 4px solid #181721;
      width: 30%;
      height: 100%;
      float: left;
    }

    .contentHome-info_rigth{
      background: transparent;
      width: 70%;
      height: 100%;
      float: right;
    }

  }

}