/*** ANIMATION ****/

@-webkit-keyframes zoomIn {
  from {
    width: 40%
  }
  to {
    width: 45%
  }
}

/* Standard syntax */
@keyframes zoomIn {
  from {
    width: 40%
  }
  to {
    width: 43%
  }
}

@-webkit-keyframes zoomInAction {
  from {
    width: 40%
  }
  to {
    width: 50%
  }
}

/* Standard syntax */
@keyframes zoomInAction {
  from {
    width: 40%
  }
  to {
    width: 50%
  }
}

/*** STYLE ***/

page-home {

}

.btn-home {
  width: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  -webkit-animation: zoomIn 1s alternate;
  animation: zoomIn 1s linear infinite alternate;
}

.contentWeather {
  text-align: center;
  margin: 100% auto;
  display: block;
}

.LocationTitle{
  font-weight: 800;
}